@import "tailwindcss";     

:root {
    --lt-purple: #6A00AD;
    --dk-purple: #2C0047;
    --gd-purple: 90deg, var(--lt-purple), var(--dk-purple);
    --bg-purple: #1F0033;
    --dk-yellow: #E0BF00;
    --lt-yellow: #ffd900;
    --transparent-purple: rgb(189, 112, 238, 0.42);
}

@layer utilities {

    .wd-hg-100 {
        @apply w-[100px] h-[100px]
    }

    .nav {
        @apply relative justify-around 
    }
    .nav:hover {
        @apply cursor-pointer 
    }
    .nav::after {
        @apply content-[''] bg-(--bg-purple) h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl duration-300 absolute shadow-[0px_-10px_10px_rgba(0,0,0,1)] 
    }
    .nav:hover::after {
        @apply w-[100%] 
    }
}